.title {
    font-size: 26;
    text-align: center;
    color: purple;
    font-weight: bold;
    margin: 0;
}
.page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20;
}
