<ns-action-bar title="Current Challenge">
    <ActionItem><Label ios.position = "right" android.position="actionBar"
        (tap)="onAdd()" text="&#xf0fe;" class="fa p-10" fontSize="24"></Label></ActionItem>
          <ActionItem><Label ios.position = "right" android.position="actionBar"
        (tap)="onEdit()" text="&#xf044;" class="fa p-10" fontSize="24"></Label></ActionItem>
</ns-action-bar>
<ScrollView>
<FlexboxLayout class="page">
    <StackLayout *ngIf="!currentChallenge">
      <Label text="No challenge found"></Label>
      <Button class="btn btn-primary" text="Create one!" nsRouterLink="/challenges/replace" pageTransition = "slideLeft"></Button>
    </StackLayout>
    <StackLayout *ngIf="currentChallenge">
        <Label class="h1 text-center" [text]="currentChallenge.title"></Label>
        <Label class="body text-center" [text]="currentChallenge.description"></Label>
    </StackLayout>
    <GridLayout rows="auto,*,*,*,*,*,*" columns="*,*,*,*,*,*,*" *ngIf="currentChallenge">
      <Label
      class="text-center week-day-label"
      width="100%"
      *ngFor="let weekDay of weekDays; let i = index"
      [text]="weekDay"
      row="0"
      [col]="i"
      ></Label>
      <FlexboxLayout
      class="day not-settable"
      *ngFor="let day of currentChallenge.days; let i = index"
      [row]="getRow(i, day)"
      [col]="day.dayInWeek"
      (tap)="onChangeStatus()"
      >
        <Label
        [text]="day.dayInMonth"
        ></Label>
      </FlexboxLayout>
    </GridLayout>

</FlexboxLayout>
</ScrollView>
