@import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/default.css";

.for-control {
    border-bottom-color: purple;
    border-bottom-width: 2;
    margin: 5 0;
    font-size: 20;
    padding: 8 4;
}

.drawer-container {
    background:  linear-gradient(140deg, #2b072c, #5c3fa0);
    flex-direction: column;
    justify-content: center;
}
