@import "./app.common.css";

.btn {
    background: transparent;
    border-width: 1;
    border-color: purple;
    color: purple;
    width: 100%;
    padding: 5 10;
    border-radius: 30%;
    margin: 5 0;
}
